.labdiv>img{
  border:3px solid #66bc46;
  border-radius: 0.25cm;
  margin:0.5cm;
}
a:hover {
  cursor: pointer;
}

.reuse-title{
    color: #66bc46;
}

.article-title{
    color: #66bc46;
    font-size: 3rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
h3{
    color: #4a99d3;
    margin-bottom: 2vw;
    margin-top:4vw;
    text-align: left;
}
.article-sub-title{
    color:  #4a99d3;
    font-size: 2rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

.abouts{
    margin-left: 3vh;
}

.span-bold{
    font-weight: bold;
    color: #66bc46;
}
.p-reduce{
    text-align: center;
  }
#cover-image{
    width: 100%;
}
.ul-serv{
	box-sizing: border-box;
	font-size: 1.2rem;
    text-align: left;
}
.li-serve {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: rgb(102, 188, 70,0.3);
}

.li-serve  + .li-serve  {
	margin-top: 1rem;
}

::marker {
	font-weight: 600;
	color: #4a99d3;
	font-size: 1.8rem;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.carousel-inner .carousel-item {
    transition: transform 0.5s ease; /* Adjust the duration (0.5s) to your desired speed */
}



.cardui {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.5s ease;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .card_title {
    font-weight: bold;
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top:60%;
    transition: transform 0.5s ease;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .cardui:hover .card_content {
    top:10%;
    transition: transform 0.5s ease;
  }
  
  .cardui:hover .card_description {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  