nav {
  height: 3cm;
}
.nav-link {
  color: #4a99d3;
  font-weight: 600;
}
.nav-link:hover {
  color: #66bc46;
  font-weight: 600;
}

.green {
  color: #66bc46;
}
.blue {
  color: #4a99d3;
}

.labdiv > img {
  border: 5px solid #4a99d3;
  border-radius: 0.25cm;
  padding: 0;
  margin: 0;
  height: 180px;
  object-fit: cover;
  width:100%;
  transition: transform 0.5s;
}
.labdiv {
  margin:0.3cm;
  width:18vw;
}

.labdiv > img:hover {
  border: 5px solid #66bc46;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

a:hover {
  cursor: pointer;
}

.reuse-title {
  color: #66bc46;
}

.redcard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 0px 0px #4a99d3;
}

.prez-img {
  border: solid 5px #4a99d3;
}
.prez-img:hover {
  border: solid 5px #66bc46;
}
.redcard {
  border-radius: 0.4cm;
  transition: transform 0.25s, box-shadow 0.25s;
}

.circles {
  z-index: 1;
  background: hsla(205, 61%, 56%, 0.559);
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  overflow: hidden;
  object-fit: cover;
  padding-bottom: 0.1cm;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #66bc46;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.page-title-line {
  border-bottom: solid 1px #65bc46;
}
.bubble {
  display: grid;
  place-items: center;
  color: #4a99d3;
  z-index: -1;
  padding-top: 13vh;
  height: 15vh;
}
@media (max-width: 600px) {
  .bubble {
    padding-top: 7vh;
    height: 15vh;
  }
}
h4 {
  color: #66bc46;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  text-align: left;
}
h3 {
  color: #4a99d3;
  margin-bottom: 2vw;
  padding-top: 1cm;
  text-align: left;
}
.accordion-button,
.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
h2 {
  color: #4a99d3;
  margin-bottom: 1rem;
  padding-top: 2cm;
}
.article-sub-title {
  color: #4a99d3;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.logo-company {
  width: 450px;
}

.span-bold {
  font-weight: bold;
  color: #66bc46;
}
.p-reduce {
  text-align: center;
}
#cover-image {
  width: 100%;
}
.ul-serv {
  box-sizing: border-box;
  font-size: 1rem;
  text-align: left;
}
.li-serve {
  padding: 0rem 0rem 1rem 1rem;
  border-radius: 0.25cm;
  background: rgb(102, 188, 70, 0.3);
}

.li-serve + .li-serve {
  margin-top: 1rem;
}
::marker {
  font-weight: 600;
  color: #4a99d3;
  font-size: 1.8rem;
}
.prodclass > .card:hover {
  border: 1px #66bc46 solid;
}
.prodclass > .card:hover {
  border: 1px #66bc46 solid;
}
.card-img-top {
  transition: 0.5s all;
}
.card-img-top:hover {
  transform: scale(0.9);
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  transition: top 0.5s ease;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgb(102, 188, 70);
}
.instagram {
  background: #dd2a7b;
  color: white;
}
.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: black;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 1.2cm;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: #4a99d3;
  color: white;
  cursor: pointer;
  border: none;
  padding: 20px 20px;
  margin: 0.5cm;
  font-size: 0.5cm;
  font-weight: 700;
  border-radius: 0.2cm;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #9ae67e;
}
#myBtn:hover {
  background-color: #9ae67e;
  box-shadow: 0px 5px 0px 0px #4a99d3;
  color: #4a99d3;
}

#myBtn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.linbutton {
  display: flex;
  background-color: #0a66c2;
  color: #ffffff;
  padding: 0.5rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  margin-bottom: 0.4cm;
  width:fit-content;
}
.linbutton2 {
  display: flex;
  background-color: #0a66c2;
  color: #ffffff;
  padding: 0.5rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  margin-bottom: 0.4cm;
}

.linbutton svg {
  height: 30px;
}

.linbutton:hover {
  box-shadow: 0 4px 6px 5px #65bc469a, 0 2px 4px -1px #65bc469a;
}

.linbutton2 svg {
  height: 30px;
}

.linbutton2:hover {
  box-shadow: 0 4px 6px 5px #65bc469a, 0 2px 4px -1px #65bc469a;
}

.profile-links {
  margin-top: 0.5cm;
display:grid;
place-items:center;
  gap: 0.2cm;
}
.profile-links>a{
  text-decoration: none;
}
.contact-span {    
    text-decoration: none;
    opacity:50%;
}
.dotted-border-span{
 border-bottom: 1px dotted #000;
}
.contact-span:hover {    
    opacity:70%;
}

.team-section {
  border: solid 1px #4a99d3;
  padding: 0.5cm;
  margin: 0.5cm 0 0.5cm 0;
  border-radius: 0.5cm;
}
.designation {
  font-weight: 600;
}
.designation2 {
  font-weight: 400;
  color: #686767;
}
.column1 {
  display: grid;
  place-items: center;
}
.column1 > img {
  width: 3cm;
  border-radius: 50%;
  margin-bottom: 0.5cm;
  box-shadow: 0px 0px 16px 5px #4a99d3;
}
.column1 > img:hover {
  box-shadow: 0px 0px 16px 5px #65bc46;
}
.column2 {
  padding-top: 0.5cm;
  display: grid;
  place-items: center;
  text-align: justify;
}
.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-10%);
}
.show {
  opacity: 1;
  transform: translateX(0%);
}

.hiddenv {
  opacity: 0;
  transition: all 1s;
  transform: translateY(30%);
}
.showv {
  opacity: 1;
  transform: translateY(0%);
}

/* this card is inspired form this - https://georgefrancis.dev/ */

.testcard {
  --border-radius: 0.75rem;
  --primary-color: #4a99d3;
  --secondary-color: #66bc46;
  width: 245px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  margin: 1rem;
}

.testcard > * + * {
  margin-top: 1.1em;
}

.testcard .testcard__content {
  color: black;
  font-size: 0.86rem;
}

.testcard .testcard__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.testcard .testcard__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testcard svg {
  transition: 0.2s;
}

/* hover */
.testcard:hover .testcard__title {
  color: var(--secondary-color);
}

.testcard:hover .testcard__arrow {
  background: #66bc46;
}

.testcard:hover .testcard__arrow svg {
  transform: translateX(3px);
}

footer {
  text-align: center;
  font-size: 0.9rem;
  border-top-left-radius: 0.3cm;
  border-top-right-radius: 0.3cm;
}
.carim {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.carim0 {
  width: 100%;
  height: calc(100vh - 0.8cm);
  object-fit: cover;
}

.carousel-caption h2 {
  color: white;
  padding:0;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5cm 0 0.5cm 0;
  border-radius: 0.2cm;
  text-align: center;
  margin-bottom: 2%;
}
.gotocont {
  color: white;
  background-color: rgb(71, 71, 244);
  border: none;
  padding: 0.2cm 0.4cm;
  border-radius: 0.2cm;
}
.gotocont:hover {
  color: white;
  background-color: rgb(91, 91, 245);
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust as needed */
  padding: 20px; /* Adjust as needed */
}
.logos > img {
  width: 150px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0.5cm;
  background-color: white;
  padding:5px;
  object-fit: contain;
}
.awardss {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carda {
  position: relative;
  width: 310px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #4a99d3;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-right: 1.4cm;
  margin-bottom: 1cm;
}

.carda svg {
  width: 48px;
  fill: #333;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carda:hover {
  box-shadow: 0 8px 16px #65bc46;
}

.carda__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carda:hover .carda__content {
  transform: rotateX(0deg);
}

.carda__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.carda__subtitle {
  margin: 0;
  font-size: 15px;
  color: #5c5b5b;
  font-weight: 650;
}
.carda__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}
.home-youtube-landing{
  width:890px;
  height:500px;
}
@media screen and (max-width: 768px) {
  .logos > img {
    width: calc(50% - 20px); /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .logos > img {
    width: calc(90% - 20px); /* Adjust as needed */
  }
}

@media (max-width: 600px) {
  .logo-company {
    width: 70vw;
    padding: 1rem 0rem 1rem 0rem;
  }
  .imcar {
    height: 50vh;
  }
  .carim0 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .carousel-caption {
    margin-bottom: 75%;
  }
  .home-youtube-landing{
  width:90%;
  height:auto;
}
}

.misvis {
  display: flex;
  gap: 0.5cm;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.cardq {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 2em;
  padding-right: 2em;
  background: white;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.5cm;
}
.cardq-info {
  display: grid;
  place-items: center;
}
.misvisicon {
  width: 3cm;
  height: 3cm;
}
/*Text*/
.textq-title {
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 0.2cm;

  color: #4a99d3;
  font-size: 2rem;
  text-align: center;
}

.textq-body {
  font-size: 0.9em;
  padding-bottom: 10px;
  height:2cm;
  display: grid;
  place-items: center;
  text-align: justify;
  color: black;
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  border-radius: 0.5rem;
}
.cardp p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
.pat-flag{
  width: 40%;
  object-fit: cover;
  margin-bottom:10px;
  border-radius:0.2cm;
}
.cardp p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #4a99d3;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.cardp1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height:220px;
}

.cardp1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #4a99d3;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.cardp1:hover:before {
  transform: scale(21);
}

.cardp1:hover p {
  transition: all 0.3s ease-out;
  color: rgb(255, 255, 255);
}


.flip-card {
  background-color: transparent;
  height: 300px;
  max-width: 480px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-bottom:1cm;
}

.title {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}
.flip-card-front{
  overflow: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
  display: grid;
  place-items:center;
}
.flip-card-back>table,th,td{
  border:solid black 1px;
}
.flip-card-back>table{
  margin:0.5cm;;
}
.flip-card-front>.title{
  position:absolute;
  bottom:0.2cm;
}
.flip-front-img{
  height:70%;
  object-fit: cover;

}
.flip-front-img-inner{
  height: 150px;
  border-radius:0.5cm;
  object-fit: cover;
}
.media-vids>div{
  margin-bottom:1cm;
}
.media-vids>div>iframe{
  box-shadow: 2px 2px 5px 2px #888888;
}
.media-vids>div>iframe:hover{
  box-shadow: 4px 4px 5px 2px #888888;
}