.reuse-title{
    color: #66bc46;
}

.article-title{
    color: #66bc46;
    font-size: 3rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
h3{
    color: #4a99d3;
}
.article-sub-title{
    color:  #4a99d3;
    font-size: 2rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

.abouts{
    margin-left: 3vh;
}

.span-bold{
    font-weight: bold;
    color: #66bc46;
}
.p-reduce{
    text-align: center;
  }
#home-article {
    position: relative;
}
#cover-image{
    width:100%;
}

.text-overlay {
    position: absolute;
    top: 20px; /* Adjust this value to position the overlay from the top */
    left: 20px; /* Adjust this value to position the overlay from the left */
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white; /* Set text color to make it visible against the background */
}

